@media (max-width: 1260px) { /* медиа запросы делаются для точек разрешения, на которых сайт начинает ломаться. Берется немного большее значение, чем крайнее, точное */
    .info__item {
        padding: 30px;
    }
    
    .info__title {
        font-size: 16px;
    }

    .info__text {
        font-size: 14px;
    }
}


@media (max-width: 1080px) { /* объяснение max-width: все свойства тела медиа-запроса работают ДО данного разрешения экрана */
    .info__title {
        letter-spacing: unset; /* Отменяется letter-spacing на дефолтное состояние */
    }

    .about__block {
        padding-right: 30px;
    }

    .services__content {
        height: 400px;
    }
}


@media (max-width: 992px) {
    .section {
        margin-bottom: 30px;
    }

    .header__logo img {
        height: 55px;
    }
    
    .intro__content {
        height: 530px;
        justify-content: center;
    }

    .intro__block {
        text-align: center;
    }

    .intro__title {
        font-size: 34px;
    }

    .info__item {
        padding: 20px;
    }

    .services__content {
        height: 300px;
    }

    .services__content-item {
        display: none; /* Убираем текст с картиночных ссылок */
    }

    .services__content:after {
        display: none; /* Убираем оверлэй с картинок */
    }

    .about {
        padding: 30px 0;
    }

    .about__wrapper {
        flex-direction: column;
    }

    .contacts {
        padding: 30px 0;
    }

    .about__block {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .about__img {
        height: auto;
        max-width: 100%;
    }

    .about__text {
        margin: 20px 0 30px;
        text-align: justify;
    }

    .about__link {
        font-size: 14px;
    }

    .section__process {
        padding-top: 0;
    }

    .process__title {
        margin-bottom: 10px;
        font-size: 100px;        
    }

    .process__subtitle {
        margin-bottom: 30px;
    }

    .process__item {
        text-align: center;
        min-height: auto; /* Убираем написанное значение */
        padding: 20px 20px 12px;
    }
}


@media (max-width: 850px) {
    .info {
        transform: translateY(-75px);
        margin-bottom: -40px;
    }

    .wrapper {
        flex-wrap: wrap;
    }

    .block {
        width: 100%;
        margin-bottom: 20px;
    }

    .block__title {
        text-align: center;
    }

    .info__item {
        text-align: center;
    }

    .block__link {
        display: flex;
        justify-content: center;
    }

    .services__content {
        height: 450px;
        background-position: center;
    }
   
    .contacts__form {
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .nav {
        display: none;
    }
}


@media (max-width: 560px) {
    .header__logo {
        height: 45px;
    }

    .services__content {
        height: 300px;
    }

    .process__title {
        font-size: 72px;
    }

    .process__subtitle {
        font-size: 25px;
    }

    .footer__wrapper {
        height: auto;
        padding: 30px 0;
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        margin-bottom: 20px;
    }

    .form__row {
        margin: 0 -10px;
        flex-direction: column;
    }

    .form__group {
        padding: 0 10px;
    }
}


@media (max-width: 460px) {
    .intro__title {
        font-size: 26px;
    }
    
    .block__title {
        font-size: 24px;
    }

    .process__title {
        font-size: 40px;
    }

    .process__subtitle {
        font-size: 18px;    
    }

    .copyright {
        text-align: center;
    }
}





@media print { /* Существуют медиа-запросы на max-width, min-width, высоту,соотношение экранов, печать и тд. */
    body {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 992px) { /* бывают такие медиа-запросы. Здесь все будет работать между 768рх и 992рх */

}
